langchain
langchain-core
langchain-community
langchain_huggingface
langchain-chroma
langchain-groq
langchain-openai
groq
openai
streamlit
beautifulsoup4
requests
chromadb
sentence-transformers
numpy==1.26.0
python-dotenv
pandas
python-docx
reportlab
weasyprint
markdown2
html2docx